MONGODB_URI=mongodb+srv://Ralkiora:Nicolas28112020 @cluster.mongodb.net/mealizy
JWT_SECRET=6Xf!2qL9@vB8#nT3$kR7%pZ1&wY5*eM4
JWT_EXPIRES_IN=7d
PORT=4000
CORS_ORIGIN=http://localhost:3000
SPOONACULAR_API_KEY=c9c9dd066536497b8cbf2e1811e32d96
NEXT_PUBLIC_API_URL=http://localhost:4000/api
