node_modules
.next
dist
coverage
.env
.env.local
.DS_Store
*.log
*.tsbuildinfo
web-dev*.log
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
publish/
.backend-main-verify/
.publish-*/
